.button {
  appearance: none;
  outline: none;
  border: none;

  width: 100%;
  padding: 17px;
  border-radius: 18px;
  background-color: $primary;
  color: $white;
  font-size: 18px;
  font-weight: 600;
}

.addTodo {
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0px;    
  background-color: $white;
  height: 88px;
}