.popup {
  .popup-content {
    background-color: $white;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 35px 20px;
    border-radius: 40px 40px 0px 0px;
    opacity: 0%;
    transform: translateY(100%);
    transition: all 0.3s ease-out;

    .input-title {
      background-color: $background;
      border: none;
      outline: none;
      border-radius: 20px;
      padding: 20px;    
      width: 100%;
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 18px;
      font-family: "Barlow", "Open Sans", sans-serif;
      color: $primary;
      resize: none;

      &::placeholder {
        color: $monoTinted;
      }

      &::selection {
        background: $primary;
        color: $white;
      }
    }

    .field-wrap {
      display: flex;    
      align-items: center;
      margin-bottom: 25px;

      .field-start, .field-end {
        flex-basis: 50%;      
        
        .label-start, .label-end {
          margin-bottom: 6px;
          color: $monoSecondary;
          font-weight: 600;
        }

        .input-start, .input-end {
          background-color: $background;
          border: none;
          outline: none;
          border-radius: 10px;
          padding: 6px 15px;
          font-size: 18px;
          color: $primaryMuted;
          font-weight: 600;
          max-width: 70px;

          &::placeholder {
            color: $monoTinted;
          }

          &::selection {
            background: $primary;
            color: $white;
          }
        }
      }
    }
    
    .label-desc {
      font-size: 16px;
      margin-bottom: 6px;
      color: $monoSecondary;
      font-weight: 600;
    }

    .input-desc {
      background-color: $background;
      border: none;
      outline: none;
      border-radius: 20px;
      padding: 20px;    
      width: 100%;
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 18px;
      font-family: "Barlow", "Open Sans", sans-serif;
      color: $primary;
      resize: none;

      &::placeholder {
        color: $monoTinted;
      }

      &::selection {
        background: $primary;
        color: $white;
      }
    }
  }

  .popup-content.active {
    opacity: 1;
    transform: translateY(0);
  }
  
  .popup-bg {
    background-color: rgba(0, 0, 0, 0.15);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 1;
    opacity: 0%;
    pointer-events: none;
    transition: all 0.3s ease-out;
  }
  
  .popup-bg.active {
    opacity: 1;
    pointer-events: all;
  }
}
