.App {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.main {
  height: calc(100vh - 88px);
  padding: 0px 20px;
  padding-top: 60px;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.status {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;

  .main-status {
    color: $monoPrimary;
    font-size: 42px;
    font-weight: 700;
    margin-right: 15px;
  }

  .tasks-status {
    color: $monoTinted;
    font-size: 18px;
    font-weight: 600;
  }
}

.menu-wrap {
  position: relative;
}

.bottom {
  height: 88px;
}
