$containerTransitionTime : 0.3s;
$primary: #BDC9E7;
$primaryShaded: #414F75;
$primaryMuted: #B5BED6;
$monoPrimary: #3D3D3D;
$monoSecondary: #707070;
$monoTinted: #B7B7B7;
$background: #F9F9F9;
$white: #FFFFFF;