$containerTransitionTime: 0.3s;
$primary: #a9bcee;
$primaryShaded: #414f75;
$primaryMuted: #b5c1de;
$monoPrimary: #3d3d3d;
$monoSecondary: #707070;
$monoTinted: #b7b7b7;
$background: #f9f9f9;
$white: #ffffff;
